################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SearchSumsPairsNumbersEqualsX/.vs/SearchSumsPairsNumbersEqualsX/v14
/SearchSumsPairsNumbersEqualsX/SearchSumsPairsNumbersEqualsX.Logic/obj/Debug
/SearchSumsPairsNumbersEqualsX/SearchSumsPairsNumbersEqualsX.Logic.Tests/obj/Debug
/SearchSumsPairsNumbersEqualsX/SearchSumsPairsNumbersEqualsX.UI/obj/Debug
/SearchSumsPairsNumbersEqualsX/SearchSumsPairsNumbersEqualsX.UI.Tests/obj/Debug
